---
import HtmlLayout from '@/layouts/HtmlLayout.astro'
import NavLayout from '@/layouts/NavLayout.astro'
import ColorPicker from '@/components/elements/ThemeBuilder/ColorPicker.tsx'
---

<HtmlLayout pageTitle="Builder de Temas">
    <NavLayout>

        
        <main>
            <h1>Builder de Temas</h1>

            <ColorPicker client:load onChange={(color) => console.log(color)}/>
            </main>
    </NavLayout>
</HtmlLayout>
