.burgerButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: var(--surface-100);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100lvh;
  background-color: var(--surface-100);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  transition: right 0.3s ease-in-out;
}

.menu.open {
  right: 0;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin: 1rem 0;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subsections {
  margin-left: 2rem;
}

.subsections li {
  margin: 0.5rem 0;
}

.subsections a {
  font-size: 1rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.hash {
  width: 1rem;
  height: 1rem;
  color: var(--accent);
}

.bottomButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover {
  background-color: var(--surface-300);
}

.bot {
  color: var(--accent);
}

/* Language selector styles */
.languageButton {
  position: relative;
}

.languageSelector {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.languageSelector.visible {
  opacity: 1;
  visibility: visible;
}

.languageOption {
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text);
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}

.languageOption.active {
  color: var(--accent);
}

.languageOption::before {
  content: '';
  position: absolute;
  top: calc(100% - 0.2em);
  left: 0;
  height: 0.2em;
  background: linear-gradient(
    to right,
    var(--gradient-100),
    var(--gradient-200)
  );
  width: 0;
}

.languageOption:hover::before,
.languageOption.active::before {
  width: 100%;
}
