.page-container {
  min-height: 100lvh;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .page-container {
    padding: 2rem;
  }

  .page-title {
    font-size: 3rem;
  }
}
