---
import '../../styles/css-components.css'
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
import Hero from '../../sections/en/Hero'
import About from '../../sections/en/About.astro'
import Projects from '../../sections/en/Projects.astro'
import Skills from '../../sections/en/Skills.astro'
import Conect from '../../sections/en/Conect.astro'
---

<PortfolioLayout>
  <main>
    <Hero client:load />
    <About />
    <Projects />
    <Skills />
    <Conect />
  </main>
</PortfolioLayout>
