---
import '../../styles/css-components.css'
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
import Hero from '../../sections/Hero.astro'
import About from '../../sections/About.astro'
import Skills from '../../sections/Skills.astro'
import Connect from '../../sections/Connect.astro'
import Works from '../../sections/Works.astro'
---

<PortfolioLayout>
  <main>
    <Hero language="en" />
    <About language="en" />
    <Works language="en" />
    <Skills language="en" />
    <Connect language="en" />
  </main>
</PortfolioLayout>
