---
import '../../styles/css-components.css'
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
---

<PortfolioLayout>
  <div class="page-container">
    <h1 class="page-title">Labs</h1>
  </div>
</PortfolioLayout>
