---
/* Layout */
import PortfolioLayout from '@/layouts/PortfolioLayout.astro'
/* Components */
import PointsGridBackground from '@/components/PointsGridBackground/PointGridBackground'
import ProjectCardContainer from '@/components/ProjectCardContainer/ProjectCardContainer'

/* Collections */
import {getCollection} from 'astro:content'
// Obtener todos los proyectos de la colección
const projects = await getCollection('projects')
import {sortProjectByDate} from '@/functions/sortProjectByDate'
const sortedProjects = sortProjectByDate(projects)

/* 
 @version 1
 @revisado 02/07/2025
 @descripcion: Página de proyectos en inglés
*/
---

<PortfolioLayout>
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-title fantasy-text">Projects</h1>
      <p class="hero-description code-text">
        A collection of my most recent and outstanding works
      </p>
    </div>
  </section>
  <section class="projects-section">
    <ProjectCardContainer
      projects={sortedProjects}
      language="en"
      client:load
    />
  </section>

  <PointsGridBackground client:load />
</PortfolioLayout>

<style>
  /* Hero Section */
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100lvw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  @media (max-width: 768px) {
    .hero-section {
      padding: 0 1rem;
    }
  }

  .hero-section::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgrounds/bg1.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
    filter: blur(100px);
  }

  /* Hero Content */
  .hero-content {
    text-align: center;
    z-index: 1;
  }

  .hero-title {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    line-height: 1.1;
  }

  .hero-description {
    font-size: clamp(1rem, 2vw, 1.25rem);
    opacity: 0.8;
    max-width: 600px;
    margin: 0 auto;
  }

  /* Projects Section */
  .projects-section {
    position: relative;
  }

  .projects-section::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgrounds/bg2.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
    filter: blur(100px);
  }
</style>
