.mainContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tagsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 1rem;
}

.tagsContainer button.active {
  background: var(--gradient-100);
  color: var(--surface-100);
}

.carouselContainer {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
