---
import bg4 from './../../assets/backgrounds/bg4.svg'
---

<div class="container">
  <img
    id="background"
    src={bg4.src}
    alt=""
    fetchpriority="high"
  />

  <main>
    <section>
      <h2>Skills</h2>
    </section>
  </main>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    width: 100lvw;
    position: relative;
  }

  #background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -1;
    filter: blur(100px);
  }
</style>
