---
import PortfolioLayout from '@/layouts/PortfolioLayout.astro'
import Hero from '@/sections/index/Hero.astro'
import About from '@/sections/index/About.astro'
import Skills from '@/sections/index/Skills.astro'
import Connect from '@/sections/index/Connect.astro'
import Works from '@/sections/index/Works.astro'

/* 
 @version 1
 @revisado 02/07/2025
 @descripcion: Página principal en español
*/
---

<PortfolioLayout>
  <main>
    <Hero language="es" />
    <About language="es" />
    <Works language="es" />
    <Skills language="es" />
    <Connect language="es" />
  </main>
</PortfolioLayout>
