---
import '../../styles/pages.css'
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
---

<PortfolioLayout>
  <div class="page-container">
    <h1 class="page-title">Laboratorios</h1>
  </div>
</PortfolioLayout>
