---
import { fetchTotalLines } from "../RepoStatsCard/fetchTotalLines";
import { fetchRepoLanguages } from "../RepoStatsCard/fetchRepoLanguages";
import { fetchRepoStats } from "../RepoStatsCard/fetchRepoStats";
import { SiGithub } from "@icons-pack/react-simple-icons";
import { CalendarPlus, CalendarSync, Code, ExternalLink, GitFork, Star } from "lucide-react";
import RingChart from "@/components/ui/RingChart/RingChart.astro";

const { repository } = Astro.props;
const githubToken = import.meta.env.GITHUB_AUTH_TOKEN;

const totalLines = await fetchTotalLines(repository);
const languages = await fetchRepoLanguages(repository, githubToken);
const stats = await fetchRepoStats(repository, githubToken);
---

<article class="card">
{ stats ?(

 <p>Stats cargados</p>
 <div>


 {
  languages && 
  <p>Languages cargados</p>
 }

 </div>
 <div>
  {
    totalLines &&
    <p>Total lines: {totalLines}</p>
  }
 </div>



) : (
  <div class="errorContainer">
    <div class="errorIcon">⚠️</div>
    <p>Something wrong :(</p>
  </div>
)

}

</article>
<style>
    /* Error feedback */
    .errorContainer {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-large);
    gap: 1rem;
    padding: 1.5rem;
  }

  .errorIcon {
    font-size: 1.5rem;
    opacity: 0.7;
  }
</style>
