---
import { fetchTotalLines } from "../RepoStatsCard/fetchTotalLines";
const { repository } = Astro.props;
const githubToken = import.meta.env.GITHUB_AUTH_TOKEN;

const totalLines = await fetchTotalLines(repository);
---

<article>
  <h2>Componente de Servidor para test</h2>
  <p>{repository}</p>

  <p>{githubToken ? "SI" : "NO"}</p>

  {
    totalLines ? (
      <p>{totalLines}</p>
    ) : (
      <p>No se pudo obtener el número de líneas</p>
    )
  }

  <p>Renderizado a las: {new Date().toLocaleTimeString()}</p>
</article>

<style>
  article {
    border: 2px solid var(--border);
    border-radius: var(--radius-large);
    padding: 2rem;
    width: 100%;
  }
</style>
