.left,
.right,
.top,
.topLeft,
.topRight {
	display: flex;
	flex-direction: column;
}

.left > p,
.right > p,
.top > p,
.topLeft > p,
.topRight > p {
	width: 100%;
	font-family: "Caveat Variable", cursive;
	font-size: 1.4rem;
	padding-inline: 1.5rem;
}

.left,
.topLeft {
	text-align: right;
	align-items: flex-end;
}

.right,
.topRight {
	text-align: left;
	align-items: flex-start;
}

.top {
	text-align: center;
	align-items: center;
}
